In [3]:
import pandas as pd

In [6]:
dfsample = pd.DataFrame([{"lat": 34.072835,
                         "long":-118.275399,
                         "region" : 'DTLA'},
                         {"lat": 34.054119,
                         "long":-118.354763,
                          "region" : 'DTLA'},
                         {"lat": 34.157723,
                         "long":-118.361611,
                         "region" : 'North Hollywood'},
                         {"lat": 34.006818,
                         "long":-118.476348,
                         "region" : 'Westside'},
                         {"lat": 33.779356,
                         "long":-118.274265,
                        "region" : 'Port of LA'}])

dfsample

         lat        long           region
0  34.072835 -118.275399             DTLA
1  34.054119 -118.354763             DTLA
2  34.157723 -118.361611  North Hollywood
3  34.006818 -118.476348         Westside
4  33.779356 -118.274265       Port of LA

In [ ]:
dfcenter = pd.read_csv('dfcenter.csv')

In [ ]:
for